footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer {
  background-color: #121212;
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 80px;
  padding-bottom: 24px;
  color: #ffffff;

  //   @media (max-width:3000px) and (min-width:1500px) {
  //     position: fixed;
  //     width: 92%;
  //     left: 0;
  //     bottom: 0;
  // }

  @media only screen and (max-width: 500px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 0px;
  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 24px;
  }

  //   @media only screen and(max-width:768px){
  //     grid-template-columns: repeat(1, 1fr);
  //   }
}

.footer-column {
  border-top: 1px solid white;
}

.footer-title {
  font-family: abril-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.footer-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer-link {
  color: #ffffff;
  text-decoration: underline;
}

.non-link {
  text-decoration: none;
}

.footer-icon {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-db {
  margin-top: 24px;
}

.footer-copyright {
  font-size: 16px;
  margin-top: 16px;
}
